@import url('https://fonts.googleapis.com/css2?family=Inter&family=Raleway:ital,wght@0,100..900;1,100..900&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Inter&family=Raleway:ital,wght@0,100..900;1,100..900&display=swap');

.raleway {
    font-family: "Raleway", sans-serif;
}

.inter {
    font-family: "Inter", sans-serif;
}


.border-radius{
    border-radius: 88px 88px 0px 0px;
}